.match__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
  height: 15vh;
  border: grey solid 0.5px;
  position: relative;
  padding: 0.5rem;
  margin: 0.7rem 0;
  text-transform: uppercase;
  background: rgba(133, 165, 187, 0.398);
  border-radius: 7px;
  -webkit-box-shadow: 2px 2px 11px 0px rgba(102, 97, 102, 0.51);
  -moz-box-shadow: 2px 2px 11px 0px rgba(102, 97, 102, 0.51);
  box-shadow: 2px 2px 11px 0px rgba(102, 97, 102, 0.51);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.team {
  width: 40%;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
}

.team p {
  font-size: 10px;
  position: relative;
  top: 0.4rem;
  text-align: center;
}

.team img {
  margin-bottom: 5px;
  border-radius: 50%;
  width: 2.5rem;
}

.score {
  width: 8vw;
  height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score h6 {
  font-weight: bold;
  font-size: 1rem;
}

.score p {
  font-size: 0.6rem;
}

.details__button {
  display: none;
  background-color: #75a68c;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px;
  height: 40px;
  width: 40px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
  transition: all 0.2s ease;
}

.details__button:active {
  background-color: #66a182;
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
}

@media screen and (max-width: 1100px) {
  .match__card {
    width: 85vw;
  }

  .score p {
    display: none;
  }

  .score h6 {
    font-size: smaller;
    margin: 0;
    position: absolute;
    right: 43%;
    top: 40%;
  }

  .match__card img {
    display: none;
  }

  .details__button {
    height: 4vh;
    padding: 0;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .details__button {
    height: 4vh;
    padding: 0;
  }
}
