.toggle__stats {
  margin-left: 0.4rem;
}

.toggle__stats button {
  padding: 4px;
  width: 75px;
  height: 35px;
  margin-top: 5vh;
  font-size: 12px;
  text-transform: uppercase;
}

.players__button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: grey;
}

.team__button {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: grey;
}

.active__section {
  background-color: #023047;
  color: #e9edc9;
}
